<div class = "row">
<div class = "col-md-3">

<div class = "container">
	<h2 class = "page-header"> Add Employee </h2>
	<!--form for submitting employee -->
	<form #form="ngForm" (ngSubmit)="addEmployee(form.value)" >
                <div class = "form-group">
                        <label>First Name</label><br>
                        <input type = "text" name = "first_name" [(ngModel)]="first_name" required>
                </div>
                <div class = "form-group">
			<label>Last Name</label><br>
                        <input type = "text" name = "last_name" [(ngModel)]="last_name" required>
                </div>
                <div class = "form-group">
			<label>address</label><br>
                        <input type = "text" name = "address" [(ngModel)]="address" required>
                </div>
                <div class = "form-group">
			<label>company</label><br>
                        <input type = "text" name = "company" [(ngModel)]="company" required>
                </div>
                <div class = "form-group">
			<label>salary</label><br>
                        <input type = "number" name = "salary" [(ngModel)]="salary" required>
                </div>

		<button type = "submit">Submit</button>
	</form>
</div>
</div>

<!--list for displaying employees -->
<div class = "col-md-9">

        <h2 class = "page-header"> List of Employees </h2>
	
  <ul class="list-group">
      <!--headers for employee information -->
      <li class="list-group-item row">
	<div class = "row">
          <div class="col-xs-3 col-sm-3"><strong>Name </strong></div>
          <div class="col-xs-3 col-sm-3"><strong>Address </strong></div>
          <div class="col-xs-3 col-sm-3"><strong>Company </strong></div>
          <div class="col-xs-3 col-sm-3"><strong>Salary</strong></div>
	</div>
      </li>
      <!-- employees -->
      <li *ngFor = "let employee of employees" class="list-group-item row">
	<div class="row">
          <div class="col-xs-3 col-sm-3">{{employee.first_name}} {{employee.last_name}} </div>
          <div class="col-xs-3 col-sm-3">{{employee.address}} </div>
          <div class="col-xs-3 col-sm-3">{{employee.company}} </div>
          <div class="col-xs-3 col-sm-3">{{employee.salary}} </div>
	</div>
      </li>
  </ul>

</div>
</div>
