<div class="row">
<div class= "col-md-12">
<h1>Get Company Costs</h1>
	<!-- select a company -->
	<form #form="ngForm">
		<h2>
		<strong>Company: </strong>
		<select [(ngModel)]="company" name="company" (change)="getSalary()">
			<option *ngFor="let company of companies" name="company" value="{{company}}">{{company}}</option>
		</select>
		</h2>
	</form>
<!-- display company if one selected -->
<h3 *ngIf="company"><strong>{{company}} </strong> spends ${{salary_sum}} on salaries per year</h3>

</div>
</div>
